canvas {
	border:3px solid black; 
	margin-bottom:10px;
}
#start {
	height:30px;
	margin-bottom:20px;
	width:60px;
	margin-left:42%;
	background:rgb(0,200,0);
}
#stop {
	height:30px;
	margin-bottom:20px;
	width:60px;
	background:rgb(200,0,0);
	margin-left:5%;
}
